@tailwind base;
@tailwind components;
html,body{
  min-height:100%;
  min-width:100%;
  font-family: 'Source Sans Pro', sans-serif;
  @apply text-gray-300;
  background-image: url('/images/safe.jpg')
}

.banner { 
  @apply border-2; 
  border-color: #25C9FD;
  box-shadow: 0px 0px 3px 1px #25C9FD;
} 

.active-link {
  @apply font-bold 
}
@tailwind utilities;